asd {
  background-color: #7b00e0;
}
sd {
  background-color: #cecece;
  text-align: start;
  justify-content: space-between;
}

df {
  background-color: #f3f3f3;
  align-items: flex-end;
  justify-content: flex-start;
}
